

.scene {
    -fx-font: 12pt "Serif";
    -fx-accent: #0093ff;
    -fx-base: #d0d0d0;
    /* -fx-background: #67644e;  -fx-control-inner-background: white;*/
    	
       -fx-padding: 10;

     -fx-background-color: rgba(255, 255, 255, 0);
    -fx-focus-color: #0093ff;
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: green;
    -fx-fill: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #55555588 75%, blue);
  -fx-arc-width:25;
  -fx-arc-height:25;

}

ToolBar HBox {
    -fx-spacing: 5;
    -fx-background-color: steelblue;

}
 
ToolBar Button {
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-opacity: 0.7;
    -fx-focus-traversable: false;
}

ToolBar Button:disabled {
    -fx-opacity: 0.35;
}

ToolBar Button:hover {
    -fx-opacity: 0.9;
}

ToolBar Separator {
    -fx-orientation: vertical;
    -fx-padding: 0 0 0 4;
}
.dragicon {
	-fx-background-radius: 10;
}

.cubic-icon {
	-fx-fill:
	rgba(80.0, 80.0, 80.0, 0.0);

	-fx-stroke: black;
}
 
.text-area .scroll-bar:vertical {
    -fx-pref-width: 1.5;
    -fx-opacity: 0;
}
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1.5;
    -fx-opacity: 0;
}
 
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);

}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
white;
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color: white;
}

.icon-blue {
	-fx-background-color: blue;
}

.icon-red {
	-fx-background-color: red;
}

.icon-green {
	-fx-background-color: green;
}

.icon-black {
	-fx-background-color: black;
}

.icon-grey {
	-fx-background-color: grey;
}

.icon-yellow {
	-fx-background-color: yellow;
}

.icon-purple {
	-fx-background-color: purple;
}
.icon-cyan {
	-fx-background-color: cyan;
	}
.icon-white {
	-fx-background-color:white;
}
.parent {
       -fx-font-size: 20px;
   }

*.context-menu {
    -fx-background-color: linear-gradient(rgba(198,198,198,1) 0%, rgba(144,144,144,1) 10%, rgba(144,144,144,1) 87%, rgba(51,51,51,1) 100%);
}

*.menu-item>*.label {
    -fx-text-fill: white;
}

*.menu-up-arrow {
    -fx-background-color: white;
}

*.menu-down-arrow {
    -fx-background-color: white;
}

*.menu-item:focused {
    -fx-background-color: steelblue;
}

.right_pane {
	-fx-border-color: tan;
	-fx-border-width: 2px;
}
